.inactive {
	opacity: 0.4;
	transition: opacity 1.5s;
	-moz-transition: opacity 1.5s;
	-webkit-transition: opacity 1.5s;
}

.active {
	opacity: 1;
	transition: opacity 1.5s;
	-moz-transition: opacity 1.5s;
	-webkit-transition: opacity 1.5s;
}

body {
	font-family: 'Roboto Slab', serif;
	background-color: #e5e5e5;
}

.container{
	width: 1000px;
	position: relative;
}

.row {
	margin: 100px 0px;
}

.datasource {
	position: absolute;
	top: 500px;
}

#title {
	margin: 50px 0px 20px 0px;
}

#subtitle {
	margin: 10px 0px 50px 0px;
}

#heatmaptitle {
	margin-top: 100px;
}

#footer {
	font-size: small;
}

h1, h2 {
	position: relative;
	text-align: center;
}

h3 {
	padding-bottom: 20px;
}

h4 {
	position: relative;
	text-align: center;
	font-style: italic;
}

p {
	text-align: left;
	position: relative;
	padding: 5px 0px;
}

text {
	font: 11px sans-serif;
	fill: #808080;
}

.occ-desc {
	font-style: italic;
	font-size: small;
}

.label {
	font-weight: 100;
}

.axis path,
.axis line {
	fill: none;
	stroke: #808080;
	shape-rendering: crispEdges;
}

.diff path {
	display: none;
}

.diff line {
	shape-rendering: crispEdges;
	stroke: gray;
}

.comp path {
	display: none;
}

.d3-tip {
	font-size: small;
	background-color: #ffffff;
	border: 2px solid #bbb;
	padding: 0px 5px;
	border-radius: 5px;
}

.d3-tip ul {
	list-style: none;
	padding-left: 0;
}

.occsquare:hover {
	stroke: #fe9929;
	stroke-width: 3;
}