body {
	font-family: 'Roboto', sans-serif;
	/*background-color: #e5e5e5;*/
}

.container{
	width: 1000px;
	position: relative;
}

h1, h2 {
	position: relative;
	font-family: 'Dancing Script', cursive;
	text-align: center;
}

h2 {
	margin-top: 5rem;
}

h3 {
	text-align: center;
	font-size: 1.75rem;
	margin-bottom: 30px;
}

p {
	margin: 0 auto;
	text-align: left;
	position: relative;
	padding: 1.5rem 0px;
	width: 55rem;
	font-size: 1.5rem;
	line-height: 1.7;

}

.plot {
	padding-top: 2em;
}

.box {
	/*background-color: #444;*/
	grid-row: 1;
}

.wrapper {
	margin: 0 auto;
	width: 900px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(2, 450px);
}

/* GRAPHIC CODE */
.graphic {
	width: 100%;
	position: relative;
	padding-top: 100px;
}

.graphic__prose {
	width: 24rem;
}

.graphic__prose .trigger {
	padding: 0;
	margin: 0;
	min-height: 480px;
	width: 24rem;
	
}

.graphic__vis {
	position: absolute;
	top: 0;
	margin-left: 30rem;
	margin-top: 100px;
	height: 100vh;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.graphic__vis.is-fixed {
	position: fixed;
}

.graphic__vis.is-bottom {
	top: auto;
	bottom: 0;
}

text {
	font: 11px sans-serif;
	fill: #808080;
}

/*.half-reveal {
	height: 360px;
	overflow: hidden;
}

.full-reveal {
	height: 880px;
}*/

/*.occ-desc {
	font-style: italic;
	font-size: small;
}*/

.label {
	font-weight: 100;
	font-size: 12px;
}

.axis path,
.axis line {
	fill: none;
	stroke: #808080;
	shape-rendering: crispEdges;
}

#cplot .axis path,
#diff_plot_w .axis path,
#diff_plot_h .axis path {
	stroke: none;
}

#diff_plot_w .axis line,
#diff_plot_h .axis line {
	stroke: none;
}

.d3-tip {
	font-size: small;
	background-color: #ffffff;
	border: 2px solid #bbb;
	padding: 0px 5px;
	border-radius: 5px;
}

.occsquare:hover {
	stroke: #fe9929;
	stroke-width: 3;
}

#occselector {
	margin: 15px auto;
	width: 600px;
}

#appendix_plot svg {
	display: block;
	margin: 0 auto;
}

.occtext {
	font-size: 14px;
}