body {
	font-family: 'Roboto Slab', serif;
}

.container{
	width: 1000px;
	position: relative;
}

.row {
	margin: 100px 0px;
}

.datasource{
	position: absolute;
	top: 500px;
}

h1, h2 {
	position: relative;
	text-align: center;
}

h3 {
	padding-bottom: 20px;
}

p {
	text-align: left;
	position: relative;
	padding: 5px 0px;
}

.inactive {
	opacity: 0.4;
	transition: opacity 1.5s;
	-moz-transition: opacity 1.5s;
	-webkit-transition: opacity 1.5s;
}

.active {
	opacity: 1;
	transition: opacity 1.5s;
	-moz-transition: opacity 1.5s;
	-webkit-transition: opacity 1.5s;
}

text {
	font: 11px sans-serif;
}

.occ-desc {
	font-style: italic;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.diff path {
	display: none;
}

.diff line {
	shape-rendering: crispEdges;
	stroke: gray;
}

.d3-tip {
	font-size: small;
	background-color: #ffffff;
	border: 1px solid;
	padding: 0px 5px;
	border-radius: 5px;
}

.d3-tip ul {
	list-style: none;
	padding-left: 0;
}

.occsquare:hover {
	stroke: #fe9929;
	stroke-width: 3;
}